{% extends 'blog/base.html' %}
{% block title %}
share post
{% endblock %}

{% block content %}
{% if sent %}
<h1>You mail has been sent sucessfully!</h1>
Your recommendation for"<b><i>{{ post.title }}</i></b>" has successfully sent to
<b>{{ form.cleaned_data.recipient_email}}</b>
Thanks for staying with us!
{% else %}
<h2>Share <i><b>"{{ post.title }}"</b></i> via Email</h2>
<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Send e-mail">
</form>
{% endif %}
{% endblock %}